.step-2
  .form-2
    %h1
      会員登録完了
    .complete-user
      .complete-user__text
        ありがとうございます。
        %br
        会員登録が完了しました。
      .complete-user__btn
        = link_to "フリマを始める", root_path, class: "complete-btn"
        