= render "layouts/header-sub"

.wrapper
  .credit-card__container
    .credit-card__content
      %h2.credit-card__block-name
        クレジットカード情報入力
      .card-content
        %label
          カード番号
        %span.card-content__number
          必須
        %input.card-content__select{placeholder: '半角英数字のみ'}
      .card-content
        %label
          有効期限
        %span.card-content__number
          必須
        .card-content__inner
          .card-content__inner.harf
            %input.card-content__inner__month{placeholder: '月'}
            %span 月
          .card-content__inner.harf
            %input.card-content__inner__year{placeholder: '年'}
            %span 年
      .card-content
        %label
          セキュリティコード
        %span.card-content__number
          必須
        %input.card-content__select{placeholder: 'カード背面4桁、もしくは3桁の番号'}
      .card-add-box
        %button.cardAdd-btn{name: "bottom", type: "submit"} 追加する

= render "layouts/footer-sub"