*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
  background-color: rgb(231, 230, 230);
}


.showMain{
  max-width: 1020px;
  padding: 40px;
  margin: 0 auto;
  .items-contents{
    width: 700px;
    margin: 0 auto;
    .item-content{
      padding: 24px 40px 40px;
      background-color: #fff;
      &__name{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }
      &__body{
        margin: 16px 0 0 0;
        text-align: center;
        &__top-photo img{
          height: 500px;
          margin: 0 auto;
        }
        ul .inner-photo{
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }
        .inner-photo img{
          height: 100px;
          background-color: rgb(243, 240, 240);
          border: 1px solid #3ccace;
          margin: 0 2px;
        }
      }
      &__price{
        font-size: 40px;
        font-weight: bold;
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        &__tax{
          font-size: 16px;
          margin-top: 5px;
        }
      }
      &__description{
        font-size: 18px;
        line-height: 2em;
        margin-bottom: 30px;
      }
      .table{
        margin-bottom: 20px;
        background-color: #fff;
        table{
          width: 100%;
          height: 375px;
          display: table;
          border: 1px solid #f8f8f8;
          border-collapse: collapse;
          border-spacing: 0;
          .tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
          }
        }
      }
    }
  }
}

tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th{
  background-color: #eee;
  text-align: center;
  border: 1px solid #dedede;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  width: 20%;
}

td {
  width: 61%;
  margin: 0;
  font-size: 14px;
  padding: 15px 15px;
  border: 1px solid #dedede;
}

.table table td a {
  display: inline-block;
  list-style: none;
  padding: 5px;
  text-decoration: none;
  color: #3ccace;
}


.optional-box{
  display: flex;
  justify-content: space-between;
  ul .likeBtn{
    margin-right: 10px 0 0;
    padding: 6px 10px;
    border-radius: 40px;
    color: #3ccace;
    border: 1px solid #ffb340;
    .optional-inner{
      display: flex;
      .optionalBtn{
        font-size: 14px;
      }
    }
  }
  .optionalBtn a{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    color: rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);
    text-decoration: none;
  }
  .optionalBtn a:hover {
    color: #fff;
    background-color: rgb(100, 100, 100);
  }
}

.item {
  &__edit {
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    background-color: #3ccace;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    a {
      color: #fff;
    }
  }
  &__edit:hover {
    background-color: rgb(172, 172, 172);
  }

  &__delete {
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    background-color: rgb(100, 100, 100);
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    a {
      color: #fff;
    }
  }
  &__delete:hover {
    background-color: rgb(172, 172, 172);
  }

  &__purchase {
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    background-color: #3ccace;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    a {
      color: #fff;
    }
  }
  &__purchase:hover {
    background-color: rgb(172, 172, 172);
  }
}

.comments-contents{
  background-color: #fff;
  padding: 24px;
  margin: 10px 0;
  text-align: center;
  textarea {
    width: 100%;
    height:100px;
  }
  .noticeMsg{
    padding: 8px;
    font-size: 14px;
    background-color: #f8f8f8;
    margin: 10px 0;
    text-align: left;
  }
  .comment-btn{
    font-size: 18px;
    line-height: 48px;
    background-color: #3ccace;
    border: none;
    color: #fff;
    width: 60%;
    border-radius: 100px;
  }
  .comment-btn:hover {
    background-color: rgb(172, 172, 172);
  }
}

.bottom-content{
  height: 330px;
  background-image: url(pict/bg-appBanner-pict.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 80px 40px;
  &__banner{
    max-width: 1020px;
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    &__title{
      color: #fff;
      font-size: 24px;
      font-weight: bolder;
      text-shadow:  0 0 5px rgba(0,0,0,0.4);
    }
    &__text{
      color: #fff;
      font-size: 35px;
      margin: 15px 0 30px;
      text-shadow:  0 0 5px rgba(0,0,0,0.4);
    }
    .LinkIcon{
      width: 170px;
    }
  }
}



.exhibitionBtn{
  width: 120px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #ffffff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon{
    width: 60px;
    vertical-align: bottom;
  }
}