%section.itemContainer
  .item-header
    %h2.item-header__title 商品一覧
    %p.item-header__text 新規アイテムぞくぞく出品中！
  .itemsContens
    .items-content
      .items-lists
        - @items.each do |i|
          = if i.deal.user_id.blank?
            .item-list
              = link_to item_path(i.id) do
                %figure.item-list__img
                  -i.images.each do |image|
                    = image_tag image.image_url[0]
                  .item-list__body
                    %h3.name
                      =i.name
                    .item-list__deteils
                      %ul
                        %li
                          =i.price
                          円
                        %li :ブルーハート:
                      %p (税込み)