.wrapper {
  background-color: whitesmoke;
}

.sell-main__container {
  background-color: #ffffff;
  width: 700px;
  margin: 0 auto;
}

.sell-main__content {
  width: 620px;
  margin: 0 auto;
  padding: 40px 0;
  height: 100%;
  border-bottom: solid 1px #efefef;
}

.sell-main__main-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.sell-main__block-title {
  color: #888888;
  font-size: 14px;
  display: inline-block;
}

.sell-main__btn {
  width: 360px;
  text-align: center;
  margin: 0 130px 32px;
}

.sell-main__btn--sell {
  width: 360px;
  background: #3CCACE;
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  display: block;
  text-decoration: none;
  cursor: pointer;
  line-height: 48px;
  border-radius: 5px;
  border: none;
}

.sell-main__btn--sell:hover {
  background-color: #31abaf;
}

.sell-main__btn--save {
  background: #ccc;
  font-size: 17px;
  color: #222;
  font-weight: bold;
  display: block;
  text-decoration: none;
  cursor: pointer;
  line-height: 48px;
  border-radius: 5px;
  margin-top: 24px;
}

.sell-main__btn--save:hover {
  background-color: #acacac;
}

.sell-main__btn--return {
  font-size: 14px;
  color: #66CCFF;
  font-weight: normal;
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;
}

.form-group {
  padding: 20px 0;
  font-weight: bold;
}

.form-group label {
  font-size: 14px;
}

.form-group__image-title {
  font-size: 14px;
  display: inline-block;
}

.form-group__image-guide {
  font-size: 14px;
  margin-top: 16px;
  font-weight: normal;
}

.form-group__image-box {
  display: inline-block;
  width: 620px;
  height: 150px;
  background-color: #eeeeee;
  border: dashed 1px #bfbfbf;
  margin-top: 16px;
  padding-top: 40px;
  text-align: center;
  cursor: pointer;
}

.form-group__image-box input {
  display: none;
}

.form-group__item-name {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group__item-description {
  display: inline-block;
  width: 620px;
  height: 140px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 13px 16px;
  font-weight: normal;
}

.form-group__category-select {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group__brand-select {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group #item_condition {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group #item_delivery_fee {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0px 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group #item_delivery_regions {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0px 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group #item_shipping_schedule {
  display: inline-block;
  width: 620px;
  height: 48px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  margin-top: 16px;
  padding: 0px 16px;
  line-height: 48px;
  font-weight: normal;
}

.form-group__require {
  background-color: #ea352d;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 5px;
}

.form-group__ary {
  background-color: #bfbfbf;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 5px;
}

.price-group {
  width: 620px;
  margin: 0 auto;
  padding: 40px 0;
  height: 100%;
}

.price-group .sell-price {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0;
  position: relative;
}

.price-group .sell-price .sell-price-input {
  float: right;
  display: flex;
  position: absolute;
  top: 20px;
  right: 271px;
}

.price-group .sell-price .sell-price-input .sell-price-select {
  display: inline-block;
  width: 250px;
  height: 50px;
  padding-right: 15px;
  position: absolute;
  top: -15px;
  left: 15px;
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  text-align: right;
  line-height: 48px;
  font-weight: normal;
}

.sell-price-fee {
  padding: 20px 0;
  font-size: 14px;
  border-bottom: solid 1px #efefef;
}

.sell-price-fee .right-bar {
  float: right;
  margin-right: 25px;
}

.sell-price-profit {
  padding: 20px 0;
  font-size: 14px;
}

.sell-price-profit .right-bar-2 {
  float: right;
  margin-right: 25px;
}

.terms {
  width: 620px;
  height: 32px;
  display: inline-block;
}

.terms p {
  font-size: 11px;
  color: #333333;
  padding: 0 10px;
}

.terms .terms--links {
  text-decoration: none;
  color: #66CCFF;
}
/*# sourceMappingURL=items.new.css.map */