.footer
  %ul.footer__contents
    %li.content
      %h2.content__content-head
        FURIMAについて
      %ul.content__content-lists
        %li.content__content-lists__content-list
          会社概要 (運営会社)
        %li.content__content-lists__content-list
          プライバシーポリシー
        %li.content__content-lists__content-list
          FURIMA利用規約
        %li.content__content-lists__content-list
          ポイントに関する特約
    %li.content
      %h2.content__content-head
        FURIMAを見る
      %ul.content__content-lists
        %li.content__content-lists__content-list
          カテゴリー一覧
        %li.content__content-lists__content-list
          ブランド一覧
    %li.content
      %h2.content__content-head
        ヘルプ&ガイド
      %ul.content__content-lists
        %li.content__content-lists__content-list
          会社概要 (運営会社)
        %li.content__content-lists__content-list
          プライバシーポリシー
        %li.content__content-lists__content-list
          FURIMA利用規約
        %li.content__content-lists__content-list
          ポイントに関する特約
  .footer-logo
    %a{:href => '/'}
      = image_tag 'logo/logo-white.png', :size => '160x47'
    %p.footer-copy
      ©FURIMA